<div class="banner" style="height: 20vh; background-image: linear-gradient(rgba(255,250,249,0.2),rgba(0,0,0,0.4)), url(<%= cl_image_path @list.photo.key, width: 1200, crop: :fill %>);">
</div>

<div class="container my-5">
  <h1 class="border-bottom border-dark mb-3"><%= @list.name %> Movies</h1>
  <button class="btn-cineflix"><%= link_to "Add a Movie", new_list_bookmark_path(@list) %></button>

  <div class="row">
    <% @bookmarks.each do |bookmark| %>
      <div class="col-lg-4" style="padding: 1rem;">
        <div class="py-4 border-bottom border-dark">
          <img src="<%= bookmark.movie.poster_url %>" alt="" style="width: 100%;">
          <h2 class="mt-4"><%= bookmark.movie.title %></h2>
          <span class="movie-rating">Rating: <%= bookmark.movie.rating %></span>
          <p><%= bookmark.movie.overview %></p>
          <button class="btn-cineflix mb-2"><%= link_to bookmark, data: {turbo_method: :delete, turbo_confirm: "Delete #{bookmark.movie.title}?"} do %>
            Delete
          <% end %></button>
        </div>
      </div>
    <% end %>
  </div>
</div>
