<!DOCTYPE html>
<html>
  <head>
    <title>Cineflix</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <div class="container">
        <span class="logo"><%= link_to "CINEFLIX", lists_path %></span>
        <button class="btn-cineflix"><%= link_to "New List", new_list_path(@list) %></button>
      </div>
    </nav>
    <div class="container my-5">
      <%= yield %>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="social-icons-wrapper">
        <ul class="list-unstyled">
          <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-spotify"></i></a></li>
        </ul>
        </div>
        ©2023 Cineflix Ltd.
      </div>
    </footer>
  </body>
</html>
